ASSIGNMENT

In [21]:

# Make a function that can take any non-negative integer as an argument and return it with its
# digits in descending order. Essentially, rearrange the digits to create the highest possible
# number. If no number is passed in, make the default value inputted = 111111.

# Input = 43905 Output = 95430
# Input = 584366 Output = 866543

def integer_descending(number=111111):

    num_string=str(number)
    container=[]

    if number<=0:
        return "Enter a positive number"
    else:
        for x in num_string:
            container.append(x)

        num_string=sorted(container,reverse=True)
        numberReturned="".join(num_string)
        return(numberReturned)

# integer_descending(43905)

In [23]:
import pandas as pd
import numpy as np

In [25]:
jeopardy_path='jeopardy_csv.csv'
df=pd.read_csv(jeopardy_path)

In [26]:
df

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [27]:
df.shape[0]
# rows represent individual questions in each category per show aired

216930

WARMUP

In [10]:
# import pandas as pd
# import numpy as np

# belize_listings_path='Belize_airbnb_listings.csv'
# belize_df=pd.read_csv(belize_listings_path)

In [1]:
# countHostBelize=belize_df.groupby("host_name")['calculated_host_listings_count'].count()
# countHostBelize.head(4)

In [2]:
# priceMinBelize=belize_df.groupby('host_name')['price'].min()
# priceMinBelize.head(4)