In [15]:
import numpy as np
import pandas as pd

Belize CSV

In [16]:

belize_listings_path='Belize_airbnb_listings.csv'
belize_df=pd.read_csv(belize_listings_path)
# belize_df.head(1)

In [17]:
df=belize_df.groupby("neighbourhood")
# df.head(1)

In [18]:
df['price'].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [19]:
df['number_of_reviews'].mean()
df['number_of_reviews'].count()

neighbourhood
Belize Islands          1303
Belize Mainland          271
Cayo                     505
Corozal                   65
Orange Walk               28
Stann Creek Islands       12
Stann Creek Mainland     565
Toledo Mainland           47
Name: number_of_reviews, dtype: int64

In [20]:
df['availability_365'].mean()
df['availability_365'].count()

neighbourhood
Belize Islands          1303
Belize Mainland          271
Cayo                     505
Corozal                   65
Orange Walk               28
Stann Creek Islands       12
Stann Creek Mainland     565
Toledo Mainland           47
Name: availability_365, dtype: int64

List Comprehensions

In [21]:
og_list=[2,4,6,8,10,12,14]

In [22]:
# create a new list from the square of each value

squarelist=[x**2 for x in og_list]
squarelist

[4, 16, 36, 64, 100, 144, 196]

In [23]:
#  Take the same list from the previous question and create a new list but where each value
# is 2/3
twothirdoriginal=[x*(2/3) for x in og_list]
print(twothirdoriginal)
twothird=[x*(2/3) for x in squarelist]
print(twothird)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666666, 8.0, 9.333333333333332]
[2.6666666666666665, 10.666666666666666, 24.0, 42.666666666666664, 66.66666666666666, 96.0, 130.66666666666666]

In [24]:
#  Write a list comprehension or function to lowercase all the keys in the below dictionary.
# The data represents how many pounds of each fruit a canning company is ordering.
# Why did you choose the mechanism you did to lowercase the keys?

dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}
new={k.lower(): x for k, x in dict.items()}
new

# chose this one because it only iterates through the keys
    # there's no need to iterate through the values

{'apples': 1500,
 'cranberries': 2000,
 'pears': 2500,
 'cherries': 1600,
 'plums': 2400,
 'peaches': 13600,
 'oranges': 7}